    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap-slider/dist/bootstrap-slider.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>