<meta charset="utf-8">
<title>Slackanalytics Newsbot</title>
<meta name="viewport" content="width=device-width, initial-scale=0.9">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
