
<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    <img class="logo logo-light" alt="Bot" src="img/logo-light.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>

            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                        <li >
                            <a href="/alerts">
                                Alerts
                            </a>
                        </li>
                        <li >
                            <a href="/profile">
                                Integrations
                            </a>
                        </li>
                        <li >
                            <a href="/help">
                                Help
                            </a>
                        </li>
                        <!--<li >-->
                            <!--<a href="/billing">-->
                                <!--Billing-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

            <div class="module-group right">
                <div class="module right">
                    <ul class="rightMenu">
                        <li>
                            <a href="#" id="upgradeBtn"><i class="fa fa-star" aria-hidden="true"></i>Upgrade</a>
                        </li>
                        <div class="btn-group">
                            <button id="dropdownBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-slack" aria-hidden="true"></i>
                                <%= user.slack.team %><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/auth/slack">Change Team</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</div>