
<div class="col-sm-6">
    <div class="well">
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google Analytics Data</h3>


        <p>
            <strong>data.username</strong>: <%-  %> <br>
        </p>


    </div>
</div>
</div>