<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slackanalytics Newsbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="nav-container">
        <a id="top"></a>
        <nav class="absolute transparent">
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo logo-light" alt="Foundry" src="img/logo-light.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li >
                                <a href="#">
                                    Help
                                </a>
                            </li>
                            <li >
                                <a href="/auth/slack?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=74006495490.83331616626">
                                    Sign In
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </div>
    <div class="main-container">
        <section class="bg-primary pb0">

            <div class="container pt80">
                <div class="row mb24 mb-xs-0">
                    <div class="col-sm-10 col-sm-offset-1 text-center">

                        <h1 class="large">Google Analytics, Facebook, Twitter <br />slackbot for news editors</h1>

                        <p class="lead">
                            Observes published news-stories, <br /> delivers reader analytics to the editor and circulates stories to social media.
                        </p>

                    </div>
                </div>
                <!--end of row-->
                <div class="row mb80 mb-xs-24">
                    <div class="col-sm-10 col-sm-offset-1 text-center">

                         <a href="/auth/slack" id="slackBtn">Add to Slack</a>

                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <img alt="image" src="img/app1.png" />
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->

        </section>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<!--    <script src="js/flickr.js"></script>-->
<!--
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/masonry.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/ytplayer.min.js"></script>
    <script src="js/countdown.min.js"></script>
-->
<!--
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
-->
    <script src="/js/scripts.js"></script>
</body>
</html>
