<!doctype html>
<html lang="en" ng-app="">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/navigation.ejs %>

    <div class="main-container" ng-controller="">

        <section class="bg-primary pb0 fillHeight container-fluid">

            <div class="col-sm-12">
                <h2 class="leadLabel"> My Alerts
                    <% if (user.google.token) { %>
                    <div class="sub"><i class="fa fa-check-square" aria-hidden="true"></i> You have hooked Google Analytics successfully. Huzzah! Create an Alert below </div>
                    <% } else { %>
                    <div class="sub"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Integrate a Google Analytics profile before attempt to create an Alert </div>
                    <% } %>
                </h2>
            </div>


        <% if (user.google.token) { %>

            <form action="/newAlert" method="post">

                <div class="row">
                    <div class="col-sm-3">
                        <h4>Data Source <span class="label label-default">New</span></h4>
                    </div>

                    <div class="col-sm-3">
                        <h4>Period <span class="label label-default">New</span></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                            <select name="dataSource[]">
                                <% items.forEach(function(item) { %>

                                    <option disabled selected> <%= item.name %> </option>

                                    <% item.webProperties[0].profiles.forEach(function(profile) { %>

                                        <option value="<%= profile.name +":"+profile.id %>"> <%= profile.name %> </option>

                                    <% }); %>
                                <% }); %>
                            </select>
                    </div>

                    <div class="col-sm-3">
                        <select ng-model="" ng-options="" name="period[]">
                            <option>This Week</option>
                            <option>Last Week</option>
                            <option>This Month</option>
                            <option>Last Month</option>
                            <option>Today</option>
                            <option>Yesterday</option>
                        </select>
                    </div>

                    <div class="col-sm-2 col-sm-offset-1">
                        <a type="button" class="btn btn-danger ">
                            Cancel
                        </a>
                    </div>

                    <div class="col-sm-2">0
                        <input type="submit" value="+Save" class="btn btn-success "></input>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <h4>When <span class="label label-default">New</span></h4>
                    </div>
                    <div class="col-sm-2 col-sm-offset-5">
                        <h4>Where <span class="label label-default">New</span></h4>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-2">
                        <select ng-model="" ng-options="" name="interval[]">
                            <option>Daily</option>
                            <option>Every hour/min</option>
                        </select>
                    </div>

                    <div class="col-sm-1 col-sm-offset-1">
                        <select ng-model="" ng-options="" name="timeHour[]">
                            <option>09</option>
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>

                    <div class="col-sm-1">
                        <select ng-model="" ng-options="" name="timeMinute[]">
                            <option>00</option>
                            <option>01</option>
                            <option>15</option>
                            <option>30</option>
                            <option>45</option>
                        </select>
                    </div>

                    <div class="col-sm-3 col-sm-offset-1">
                        <select ng-model="" ng-options="" name="prefferedChannel[]">

                            <% channels.channels.forEach(function(channel) { %>

                                <option > <%= channel.name %> </option>

                            <% }); %>

                        </select>
                    </div>
                </div>

            </form>

        <% } else { %>

            <div class="sub"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Integrate a Google Analytics profile before attempt to create an Alert </div>

        <% } %>

        </section>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>