<!doctype html>
<html lang="en" ng-app="">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/navigation.ejs %>

    <div class="main-container" ng-controller="">

        <section class="bg-primary pb0 fillHeight container-fluid">

            <div class="col-sm-12">
                <p>
                    <div style="padding-bottom: 10px;">In order to set up the bot:</div>
                    <ul style="list-style-type:circle">
                        <li>Set up your organization's Google Analytics Account through the Integrations Page</li>
                        <li>Visit the Alerts page, set up and customize your notifications from an array of already made alerts</li>
                        <li>Submit feedback to the Developers @ <a href="mailto:bou.kons@gmail.com">Beagle Works</a></li>
                    </ul>

                </p>
            </div>
        </section>

    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>