<!doctype html>
<html lang="en" ng-app="app">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/navigation.ejs %>

    <div class="main-container" ng-controller="Test">
        <section class="bg-primary pb0 fillHeight container-fluid">

            <div class="col-sm-12">
                <h2 class="leadLabel"> My Integrations
                    <% if (user.google.token) { %>
                    <div class="sub"><i class="fa fa-check-square" aria-hidden="true"></i> You have hooked Google Analytics successfully. Huzzah!</div>
                    <% } else { %>
                    <div class="sub"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> You haven’t hooked Google Analytics yet. Please select below.</div>
                    <% } %>
                </h2>
            </div>

            <div class="col-sm-3">
                <div class="well shadow">
                    <img class="center-block wellImage" width="200" height="85" src="./img/ga-logo.png" />

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <hr/>

                    <% if (user.google.token) { %>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#gaModal">
                        Configure
                    </a>
                    <% } else { %>
                    <a href="/connect/google" class="btn btn-primary">Connect</a>
                    <% } %>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="well shadow">
                    <img class="center-block wellImage" width="170" height="85" src="./img/fa-logo.png" />

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <hr />

                    <% if (user.facebook.token) { %>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#faModal">
                        Configure
                    </a>
                    <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect</a>
                    <% } %>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="well shadow">
                    <img class="center-block wellImage" width="333" height="85" src="img/topwide.png" />

                    <hr/>

                    <% if (user.twitter.token) { %>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#twModal">
                        Configure
                    </a>
                    <% } else { %>
                    <a href="/connect/twitter" class="btn btn-primary">Connect</a>
                    <% } %>

                </div>
            </div>

            <!--            Google Setup Modal-->
            <!-- Modal -->
            <div class="modal fade" id="gaModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <h4 class="modal-title " id="lineModalLabel">Google Analytics Account</h4>
                        </div>
                        <div class="modal-body">
                            <% if (user.google.token) { %>
                            <h1> <i class="fa fa-info-circle"></i> Connected as <%= user.google.name %> <%}%>&nbsp; &nbsp; </h1>
                                <a class="btn btn-warning" href="/connect/google"><i class="fa fa-user-plus" aria-hidden="true"></i> Reconnect</a>
                                <a class="btn btn-danger" href="/unlink/google"><i class="fa fa-user-times" aria-hidden="true"></i> Disconnect</a>
                            <p>
                                <i class="fa fa-life-ring" aria-hidden="true"></i>
                                Connect your property's Google Analytics account and then configure at the Alerts page.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" class="close" data-dismiss="modal">
                                <i class="fa fa-check-square" aria-hidden="true"></i> Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Facebook Setup Modal-->
            <!-- Modal -->
            <div class="modal fade" id="faModal" tabindex="-1" role="dialog" aria-labelledby="faModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <h4 class="modal-title " id="lineModalLabel">Facebook Account</h4>
                        </div>
                        <div class="modal-body">
                            <% if (user.facebook.token) { %>
                            <h1> <i class="fa fa-info-circle"></i> Connected as <%= user.facebook.name %> <%}%>&nbsp; &nbsp; </h1>
                            <a class="btn btn-danger" href="/unlink/facebook"><i class="fa fa-user-times" aria-hidden="true"></i> Disconnect</a>
                            <p>
                                <i class="fa fa-life-ring" aria-hidden="true"></i>
                                Connect your property's Google Analytics and Facebook account, then configure notifications at the Alerts page.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" class="close" data-dismiss="modal">
                                <i class="fa fa-check-square" aria-hidden="true"></i> Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Twitter Setup Modal-->
            <!-- Modal -->
            <div class="modal fade" id="twModal" tabindex="-1" role="dialog" aria-labelledby="gaModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <h4 class="modal-title " id="lineModalLabel">Twitter Account</h4>
                        </div>
                        <div class="modal-body">
                            <% if (user.twitter.token) { %>
                            <h1> <i class="fa fa-info-circle"></i> Connected as <%= user.twitter.username %> <%}%>&nbsp; &nbsp; </h1>
                            <a class="btn btn-danger" href="/unlink/twitter"><i class="fa fa-user-times" aria-hidden="true"></i> Disconnect</a>
                            <p>
                                <i class="fa fa-life-ring" aria-hidden="true"></i>
                                Connect your property's Google Analytics and Twitter account, then configure notifications at the Alerts page.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" class="close" data-dismiss="modal">
                                <i class="fa fa-check-square" aria-hidden="true"></i> Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>